<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ever wonder if Jacob is doing work or not? Well now you can find out!">
    <meta name="author" content="Trushitha Narla">

    <title>Is Jacob Sitting on His Butt?</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/freelancer.css" rel="stylesheet">

    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

<style>
    .icons {
        text-color: white;
    }

    .butt {
        width: 50%; 
    }

    .buttpadding {

        padding-top: 60px;
    }

    .small--padding {
        padding-top: 40px;
    }

    .shrink {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .teetle {
        width: 40%;
    }

    h2 {
        color: white !important;
        background-color: #cd7f78;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .font {
        font-size: 24px !important; 
        padding-top: 30px !important;
    }

    body {
        color: white;
        background-color: #148f8c !important;
    }

    .img-center {
        margin-left: auto;
        margin-right: auto;
    }

</style>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top"><img class="teetle img-center" src="../static/img/title.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive butt buttpadding" src="../static/img/buttno.png" alt="">

                </div>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What the hell is this?</h2>
                </div>

                <div class="col-lg-12 font">
                It's a website which tells the world when I'm sitting on my butt making games (Paradigm, a point and click adventure game) via a pressure mat on my chair. Unfortunately not via magic, that would be cooler.
                </div>
                <img class = "img-responsive shrink buttpadding" src= "../static/img/buttgif.gif" alt="">
                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>COULDN'T YOU JUST LEAVE A CHRISTMAS HAM ON YOUR CHAIR, WHO WOULD KNOW?</h2>
                </div>
 
                <div class="col-lg-12 font">
                    Yes. BUT, I've also set up a time lapse camera which is also triggered by the pressure mat. I compile all the recordings each week and post it on youtube here. Sorry that I'm not the one to fulfill your Christmas ham fantasies.
                </div>
                <img class = "img-responsive shrink buttpadding" src= "../static/img/videos.png" alt="">
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Why, Just whyyy?$?</h2>
                </div>

                <div class="col-lg-12 font">
                I'm working on my own to make an adventure game which I Kickstarted. I'm always trying to find new fun ways to motivate myself and avoid looking at dumb pictures on the internet. This way being recorded I have no choice but to work and not procrastinate or I'll look dumb.
                </div>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>WHO WOULD EVEN THINK OF THIS?</h2>
                </div>
 
                <div class="col-lg-12 font">
                    My name is Jacob Janerka from Perth, Australia and I'm currently developing the Kickstarted game "Paradigm" which is a surreal post-apocalyptic Point-and-Click Adventure as seen on IGN and PewDiePie, among others. <a href=""> Click on the floppy </a>to learn more, otherwise, if not, cool man, thanks for checking to see if I'm sitting on my butt making games. 
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <img class="shrink text-center :" src= "../static/img/clicktolearn.png">
                        <div class= "font">SHARE BUTTS ON SOCIAL MEDIA</div>
                        <div class= "font">JOIN MY MAILING LIST</div>
                        <br>
                        <!-- Begin MailChimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            
                        <div id="mc_embed_signup">
                        <form action="//Paradigmadventure.us11.list-manage.com/subscribe/post?u=102200b47a7cdaaf5beab39dc&amp;id=5083b9ecb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                           
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                            <input type="text" value="something" name="FNAME" class="hidden" id="mce-FNAME">
                   
                            <input type="text" value="somethingelse" name="LNAME" class="hidden" id="mce-LNAME">
                     
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_102200b47a7cdaaf5beab39dc_5083b9ecb6" tabindex="-1" value=""></div>
                            <br>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                        </div>

                        <!--End mc_embed_signup-->
                        <br> <br> <br> <br>
                        Or contact me at <a href="mailto:j.janerka@gmail.com">j.janerka@gmail.com </a>
                        <br> Virtual high fives are accepted.

                        <br> <br> <br>Copyright &copy; Jacob Janerka & Trushitha Narla 2015
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>

</body>

</html>
