<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ever wonder if Jacob is doing work or not? Well now you can find out!">
    <meta name="author" content="Trushitha Narla">

    <title>Is Jacob Sitting on His Butt?</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/freelancer.css" rel="stylesheet">

    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

<style>
    .icons {
        text-color: white;
    }

    .butt {
        width: 30%; 
    }

    h2 {
        color: white !important;
        background-color: #d47d78;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .font {
        font-size: 24px !important; 
        padding-top: 30px !important;
    }

</style>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">Is Jacob Sitting on His Butt?</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll icons">
                       <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li class="page-scroll icons">
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive butt" src="../static/img/buttcomputer.png" alt="">
                    <div class="intro-text">
                        <span class="name">Yes.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What the hell is this?</h2>
                </div>

                <div class="col-lg-12 font">
                It's a website which tells the world when I'm sitting on my butt making games (Paradigm, a point and click adventure game) via a pressure mat on my chair. Unfortunately not via magic, that would be cooler.
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>COULDN'T YOU JUST LEAVE A CHRISTMAS HAM ON YOUR CHAIR?</h2>
                </div>
 
                <div class="col-lg-12 font">
                    Yes. BUT, I've also set up a time lapse camera which is also triggered by the pressure mat. I compile all the recordings each week and post it on youtube here. Sorry that I'm not the one to fulfill your Christmas ham fantasies.
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Why, Just whyyy?$?</h2>
                </div>

                <div class="col-lg-12 font">
                I'm working on my own to make an adventure game which I Kickstarted. I'm always trying to find new fun ways to motivate myself and avoid looking at dumb pictures on the internet. This way being recorded I have no choice but to work and not procrastinate or I'll look dumb.
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Jacob Janerka 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>

</body>

</html>
